@charset "utf-8";/*-*- mode:css; coding:utf-8; -*-*/

* {
    color: #333;
    font-family: serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body {
    height: 100%;
}
#container {
    display: table;
    height: 100%;
    width: 100%;
}
#container #navbar {
    display: table-row;
}
#container #navbar #caption {
    padding: 1em 40px 0.5em 40px;
    word-spacing: 0.2em;
}
#container #navbar #caption * {
    color: #ffffff;
}
#container #navbar #sections {
    margin-bottom: 25px;
    padding: 0 20px;
}
#container #navbar #sections a {
    color: #ffffff;
    line-height: 1em;
    padding: 0 40px;
}
#container #navbar #sections span {
    background-color: #ffffff;
    color: #333333;
    line-height: 1em;
    padding: 0 40px;
}
#container #content {
    display: table-row;
    height: 100%;
}
#container #content #view {
    height: 100%;
}
#container #content #view #banner {
    background-image: url('/images/studio-1000.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}
ul#contacts {
    padding: 50px 0;
    margin: 0 auto;
    width: 250px;
}
ul#contacts h2 {
    padding-bottom: 1em;
}
ul#contacts li {
    display: block;
    padding-top: 1em;
}
ul#contacts #contacts-photo {
    background-image: url('/images/kamyanov-250x285.jpg');
    background-repeat: no-repeat;
    background-size: auto 285px;
    height: 285px;
    width: 250px;
}
#container #content #view #banner #background {
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
}
#footer {
    font-size: 14px;
    line-height: 25px;
    margin-top: -25px;
    text-align: center;
}
body {
    background-color: #9d9287;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
.clear {
    clear: both;
}
.copyright-char {
    font-size: 110%;
    margin: 0 0.2em;
}
.facebook-link {
    background-image: url('/images/facebook-16x16.png');
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
}
.nobr {
    white-space: nowrap;
}
