@charset "utf-8";/*-*- mode:css; coding:utf-8; -*-*/

* {
    color: #333;
    font-family: serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body {
    height: 100%;
}
#container {
    display: table;
    height: 100%;
    width: 100%;
}
#container #navbar {
    display: table-row;
}
#container #navbar #caption {
    padding: 20px;
}
#container #navbar #caption * {
    color: #ffffff;
}
#container #navbar #sections {
    margin-bottom: 25px;
    padding: 0 10px;
}
#container #content {
    display: table-row;
    height: 100%;
}
#container #content #view {
    height: 100%;
    min-height: 50px;
}
#container #content #view #banner {
    background-image:url('/images/studio-1000.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}
#footer {
    font-size: 14px;
    line-height: 25px;
    margin-top: -25px;
    text-align: center;
}
body {
    background-color: #9d9287;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
ul li a {
    padding: 0 10px;
}
ul li span {
    background-color: #333333;
    color: #9d9287;
    padding: 0 10px;
}
.clear {
    clear: both;
}
.copyright-char {
    font-size: 110%;
    margin: 0 0.2em;
}
.nobr {
    white-space: nowrap;
}
