@charset "utf-8";/*-*- mode:css; coding:utf-8; -*-*/

* {
    color: #444;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body {
    height: 100%;
}
#container {
    border-collapse: collapse;
    display: table;
    height: 100%;
    width: 100%;
}
#container #navbar {
    display: table-row;
}
#container #navbar #caption {
    padding: 1em 40px 0.5em 40px;
    word-spacing: 0.2em;
}
#container #navbar #sections {
    margin-bottom: 25px;
}
#container #navbar #sections li {
    padding: 0 20px;
}
#container #navbar #sections a {
    line-height: 1em;
    padding: 0 20px;
}
#container #navbar #sections span {
    background-color: #bdb4a9;
    line-height: 1em;
    padding: 0 20px;
}
#container #content {
    background-image: url('/images/studio-1000.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: table-row;
    height: 100%;
}
#container #content #view {
    height: 100%;
}
#container #content #view #template {
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
}
#container #footer {
    display: table-cell;
    height: 25px;
    line-height: 25px;
    margin-top: -25px;
    position: absolute;
    text-align: right;
    width: 100%;
}
div#contacts {
    background: rgba(255, 255, 255, 0.5);
    float: left;
    height: 100%;
    margin-left: 40em;
    overflow: hidden;
    padding: 0 6em 0 2em;
}
div#contacts h2 {
    font-weight: normal;
    padding: 2em 0 1em 0;
    text-transform: uppercase;
}
div#contacts ul {
    padding-bottom: 25px; /* #container #footer height */
}
div#contacts ul li {
    display: block;
    padding-bottom: 1em;
}
body {
    background-color: #9d9287;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
}
.clear {
    clear: both;
}
.copyright-char {
    font-size: 110%;
    margin: 0 0.2em;
}
.facebook-link {
    background-image: url('/images/facebook-16x16.png');
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
}
.nobr {
    white-space: nowrap;
}
