/*-*- mode:jinja2; coding:utf-8; -*-*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    font-family: 'PT Sans Narrow', sans-serif;
}
span.navbar .caption {
    font-size: 250%;
}
